{% from "form_Structure.html" import displayField %}

{% extends "login-layout.html" %}

{% block title %}로그인{% endblock %}

{% block content %}


<form class="px-4 py-3" action="{{ url_for('login') }}" method="POST">
    <h2>로그인</h2>
    <p>아이디 / 패스워드를 입력하세요.</p>
        {{ displayField(form.username, '아이디', autocomplete="off",
        autofocus=true)}}
    {{ displayField(form.password, '비밀번호')}}
    

    <div>
       
        {{ form.submit_button(class_="btn btn-primary") }}
    </div>

    {{ form.csrf_token }}
    </form>
    <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="regist">아직 회원이 아닌가요?</a>
    
</div>
{% endblock %}



