{% from "form_Structure.html" import displayField %}

{% extends "login-layout.html" %}

{% block title %}회원가입{% endblock %}

{% block content %}
    <h1>시작하기</h1>

    <form action="{{ url_for('index') }}", method="POST">
        
        {{ displayField(form.username, '아이디', autocomplete="off",
            autofocus=true)}}
        {{ displayField(form.password, '비밀번호')}}
        {{ displayField(form.confirm_pswd, '비밀번호 재입력')}}

        <div>
            {{ form.submit_button }}
        </div>

        {{ form.csrf_token }}

    </form>
{% endblock %}