<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>{% block title %}{% endblock %} - |Flask Chat Room|</title>
</head>
<body>
    <!-- 메시지 띄우기 -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages%}
            category: {{messages[0][0]}}
            {{ messages[0][1] }}
        {% endif %}
    {% endwith%}

    {% block content %}

    {% endblock %}
</body>
</html>